API_ID=16457832
API_HASH=3030874d0befdb5d05597deacc3e83ab
BOT_TOKEN=7638229482:AAHmvpFaVQzInvrGsBMlotrHmpnzQwwPhAk
LOGGER_ID=-1002043570167
MONGO_DB_URI=mongodb+srv://TEAMBABY01:UTTAMRATHORE09@cluster0.vmjl9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7400383704
STRING_SESSION=BQEaSHYAugIwJkD-8-n_C0VOCEZ4fqVsDykd_vvbkohtfCdfRY302-VvoHmkxkPUPOQJApbFzn7m3QX0eSdQWSw0X-8M7hfYm2-UgM6F_1_ZrGJxCTfaBgnEqCZumv9nHVky5aGqc3aWMqg9i_FA3yp58EIY9KeToNUiu4v8o5L6tZ3Lz-lcNterrY9uIxWNL41rx9GdopiibuyaWMxtRwUsWybMxSDWVnOB1CABSlXjRtbtxwHQQvf_lmoll1RdG0Ko1pjRWxZ69I3L6BYEvA7b7uXWTkkKhMSguyjgyQfy42MFdWW1aawbvCCDH8uksZ_DHbVHXKgndRPMRV1rDZyxCZH2yAAAAAHLMGAEAA
